openapi: 3.1.0
info:
  title: ECHO Platform API
  version: 1.0.0
  description: |
    ECHO Platform REST API and WebSocket specification.
    
    **Architecture**: Client-server relay with E2E encryption. The API server is a stateless
    relay and operational cache. It cannot read message content (E2E encrypted blobs only),
    does not own user identities (holders use did:key), and does not control token balances
    (Constellation metagraph).
    
    **Authentication**: All endpoints except /v1/auth/* require a Bearer token in the
    Authorization header. Tokens are issued after passkey/biometric verification.
    
    **Encryption**: Request/response bodies for sensitive endpoints are encrypted with
    a session key (AES-256-GCM) negotiated during auth. Message content is always E2E
    encrypted on the client (X25519 + ChaCha20-Poly1305) before transmission.
    
    **On-chain references**: Endpoints that interact with blockchain state (tokens, identity,
    trust) return cached values with a `snapshotHash` field for client-side verification
    against on-chain state (Phase 3+).
  contact:
    name: ECHO Engineering
  license:
    name: Proprietary

servers:
  - url: https://api.echo.network/v1
    description: Production
  - url: https://api.staging.echo.network/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local development

tags:
  - name: Auth
    description: Authentication and registration (passkey/biometric)
  - name: Messages
    description: E2E encrypted message relay
  - name: Conversations
    description: Conversation management
  - name: Users
    description: User profiles and contacts
  - name: Identity
    description: Decentralized identity (did:key) and verifiable credentials (Identity Metagraph)
  - name: Tokens
    description: ECHO token balance, transfers, staking, and rewards
  - name: Groups
    description: Group management and key distribution
  - name: Passport
    description: Echo Passport holder credential refs, sync, and selective presentation (WO-293–295)
  - name: Comply
    description: ECHO Comply retention, litigation hold, eDiscovery, and audit (WO-250–252). Served on COMPLY_API_BASE_URL (default :8011); portal uses service token + X-Org-DID.
  - name: WebSocket
    description: Real-time messaging and presence channels

security:
  - BearerAuth: []

paths:
  # ──────────────────────────── AUTH ────────────────────────────
  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new account
      description: |
        Creates a new ECHO account. The client generates a Secure Enclave key pair
        and submits the public key. The server registers did:key identity state and
        returns a session token.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publicKey, deviceInfo]
              properties:
                publicKey:
                  type: string
                  format: base64url
                  description: P-256 public key from Secure Enclave
                displayName:
                  type: string
                  maxLength: 64
                deviceInfo:
                  $ref: "#/components/schemas/DeviceInfo"
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "409":
          description: Public key already registered

  /auth/challenge:
    post:
      tags: [Auth]
      summary: Request authentication challenge
      description: Server returns a random challenge nonce for the client to sign with Secure Enclave.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [did]
              properties:
                did:
                  type: string
                  description: User's DID. Phase 1 (per ADR-0001) uses did:key (e.g. "did:key:z2dm…").
                  example: "did:key:z2dmzD81cgPx8Vki7JbuuMmFYrWPgYoytykUZ3eyqht1j9KbrL2g"
      responses:
        "200":
          description: Challenge issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  challenge:
                    type: string
                    format: base64url
                    description: Random nonce to sign (expires in 60 seconds)
                  expiresAt:
                    type: string
                    format: date-time

  /auth/verify:
    post:
      tags: [Auth]
      summary: Verify signed challenge
      description: |
        Client signs the challenge with Secure Enclave (requires biometric) and
        submits the signature. Server verifies against the registered public key
        and issues access + refresh tokens.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [did, challenge, signature]
              properties:
                did:
                  type: string
                challenge:
                  type: string
                  format: base64url
                signature:
                  type: string
                  format: base64url
                  description: ECDSA P-256 signature from Secure Enclave
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid signature or expired challenge

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        "200":
          description: New tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid or expired refresh token

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout and invalidate tokens
      responses:
        "204":
          description: Logged out successfully

  # ──────────────────────── CONVERSATIONS ────────────────────────
  /conversations:
    get:
      tags: [Conversations]
      summary: List conversations
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
      responses:
        "200":
          description: Conversation list
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Conversation"
                  nextCursor:
                    type: string
                    nullable: true

    post:
      tags: [Conversations]
      summary: Create a new conversation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [participantDIDs]
              properties:
                participantDIDs:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  description: DIDs of participants (excluding self)
                name:
                  type: string
                  maxLength: 128
                  description: Group name (required if >1 participant)
                isGroup:
                  type: boolean
                  default: false
      responses:
        "201":
          description: Conversation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"

  /conversations/{conversationId}:
    get:
      tags: [Conversations]
      summary: Get conversation details
      parameters:
        - $ref: "#/components/parameters/conversationId"
      responses:
        "200":
          description: Conversation details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "404":
          description: Conversation not found

    delete:
      tags: [Conversations]
      summary: Leave or delete conversation
      parameters:
        - $ref: "#/components/parameters/conversationId"
      responses:
        "204":
          description: Left conversation

  # ──────────────────────── MESSAGES ────────────────────────
  /conversations/{conversationId}/messages:
    get:
      tags: [Messages]
      summary: Fetch messages (E2E encrypted blobs)
      description: |
        Returns E2E encrypted message blobs. The client decrypts locally using
        Kinnami (X25519 + ChaCha20-Poly1305). The server never sees plaintext.
      parameters:
        - $ref: "#/components/parameters/conversationId"
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: direction
          in: query
          schema:
            type: string
            enum: [newer, older]
            default: older
      responses:
        "200":
          description: Encrypted messages
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: "#/components/schemas/EncryptedMessage"
                  nextCursor:
                    type: string
                    nullable: true

    post:
      tags: [Messages]
      summary: Send an E2E encrypted message via relay
      description: |
        Submits an E2E encrypted message blob for relay to the recipient(s).
        The server queues for offline recipients and sends APNs push notifications.
        The commitment hash is batched into a Merkle tree for on-chain anchoring.
        
        **Rate limit**: 60 messages/minute per DID (adjustable by trust tier).
      parameters:
        - $ref: "#/components/parameters/conversationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "202":
          description: Message accepted for relay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageAccepted"
        "429":
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer

  /messages/{messageId}:
    put:
      tags: [Messages]
      summary: Edit a message (re-encrypt and re-relay)
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendMessageRequest"
      responses:
        "200":
          description: Edit relayed
        "403":
          description: Edit window expired (24h) or not message owner

    delete:
      tags: [Messages]
      summary: Delete a message
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Deletion relayed to participants

  /messages/{messageId}/read:
    put:
      tags: [Messages]
      summary: Mark message as read
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Read receipt relayed

  /messages/{messageId}/reactions:
    post:
      tags: [Messages]
      summary: Add a reaction
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [emoji]
              properties:
                emoji:
                  type: string
                  maxLength: 8
      responses:
        "201":
          description: Reaction relayed

    delete:
      tags: [Messages]
      summary: Remove a reaction
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                emoji:
                  type: string
      responses:
        "204":
          description: Reaction removed

  # ──────────────────────── USERS ────────────────────────
  /users/profile:
    get:
      tags: [Users]
      summary: Get own profile
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"

    put:
      tags: [Users]
      summary: Update own profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  maxLength: 64
                username:
                  type: string
                  maxLength: 32
                  pattern: "^[a-zA-Z0-9_]+$"
                bio:
                  type: string
                  maxLength: 256
                showLastSeen:
                  type: string
                  enum: [everyone, contacts, nobody]
                showOnlineStatus:
                  type: string
                  enum: [everyone, contacts, nobody]
                showReadReceipts:
                  type: boolean
      responses:
        "200":
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"

  /users/{did}:
    get:
      tags: [Users]
      summary: Get another user's profile by DID
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User profile (respecting their privacy settings)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "404":
          description: User not found

  /users/search:
    get:
      tags: [Users]
      summary: Search users by username or display name
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 2
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 25
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserProfile"

  /contacts:
    get:
      tags: [Users]
      summary: List contacts
      responses:
        "200":
          description: Contact list
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserProfile"

  /contacts/{did}:
    post:
      tags: [Users]
      summary: Add a contact
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Contact added

    delete:
      tags: [Users]
      summary: Remove a contact
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Contact removed

  /contacts/{did}/block:
    post:
      tags: [Users]
      summary: Block a user
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "201":
          description: User blocked (relay will drop their messages)

    delete:
      tags: [Users]
      summary: Unblock a user
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: User unblocked

  /users/avatar:
    post:
      tags: [Users]
      summary: Upload avatar
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                  description: JPEG or PNG, max 2MB
      responses:
        "200":
          description: Avatar uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  avatarURL:
                    type: string
                    format: uri

  /users/account:
    delete:
      tags: [Users]
      summary: Delete account
      description: |
        Permanently deletes the account. Revokes verifiable credentials, removes
        relay data, and invalidates all tokens.
      responses:
        "204":
          description: Account deletion initiated

  # ──────────────────────── DATA L1 (Phase 1) ────────────────────────
  /data-l1/merkle-roots:
    post:
      tags: [Identity]
      summary: Submit a Merkle root to local Data L1 (testnet)
      description: |
        Proxies a `MerkleRootUpdate` to the Constellation Data L1 (`DATA_L1_URL`).
        Used by `scripts/validate-phase1.sh` (WO-230). Server-side pre-validation (WO-35)
        runs before the L1 submit when optional batch metadata is supplied.
        No auth on local testnet; do not expose publicly without network controls.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [root, leafCount]
              properties:
                root:
                  type: string
                  description: 64-character lowercase hex SHA-256 Merkle root
                  pattern: "^[0-9a-f]{64}$"
                leafCount:
                  type: integer
                  minimum: 1
                leaf_count:
                  type: integer
                  minimum: 1
                  description: Alternative to leafCount (accepted by the API for shell convenience)
                timeFrom:
                  type: string
                  format: date-time
                  description: RFC3339 batch window start (optional; requires `timeTo`)
                timeTo:
                  type: string
                  format: date-time
                  description: RFC3339 batch window end (optional; requires `timeFrom`)
                schemaVersion:
                  type: integer
                  minimum: 0
                  description: Client schema version; must not exceed server max (WO-35)
      responses:
        "201":
          description: Accepted and forwarded to Data L1
          content:
            application/json:
              schema:
                type: object
                properties:
                  tx_id:
                    type: string
                  txHash:
                    type: string
        "400":
          $ref: "#/components/schemas/Error"
        "502":
          description: Data L1 returned an error
        "503":
          description: DATA_L1_URL not configured

  # ──────────────────────── Phase 1 validation (local dev) ────────────────────────
  /phase1/trust-tier-commitment:
    post:
      tags: [Identity]
      summary: Anchor H(tier||nonce) on Identity L1 (WO-230 dev script only)
      description: |
        Forwards `TrustTierCommitmentUpdate` to Identity Metagraph L1. Enabled only when
        `ENVIRONMENT=development` or `PHASE1_ALLOW_OPEN_VALIDATE=true`. Do not expose in production.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject_did, tier, nonce]
              properties:
                subject_did:
                  type: string
                  description: Holder did:key (e.g. from Step 2)
                tier:
                  type: integer
                  minimum: 1
                  maximum: 5
                nonce:
                  type: string
                  description: Random nonce (commitment = SHA256(byte(tier) || nonce))
      responses:
        "200":
          description: Submitted to Identity L1
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject_did:
                    type: string
                  tier:
                    type: integer
                  commitment:
                    type: string
                  anchored_at:
                    type: integer
                    format: int64
                  tx_hash:
                    type: string
        "400":
          $ref: "#/components/schemas/Error"
        "403":
          description: Not allowed outside development
        "502":
          description: Identity L1 reject or transport error
        "503":
          description: Identity L1 client not configured

  # ──────────────────────── IDENTITY ────────────────────────
  /identity/register:
    post:
      tags: [Identity]
      summary: Register a did:key with the local Identity Service
      description: |
        Phase-1 (per ADR-0001) DID registration endpoint. The client derives the
        canonical `did:key:z…` from a P-256 public key (the
        `pkg/didkey.DeriveFromPublicKeyHex` helper, or any W3C-compliant
        did:key implementation) and posts both the DID and the underlying
        public key for binding.

        The handler re-derives the canonical DID from `public_key_hex` and
        rejects the request if it does not match the supplied `did`. This
        guarantees no caller can register a DID for a key they do not encode
        correctly. Possession of the *private* key is proven later, during
        passkey signing, and on every subsequent authenticated request.

        Idempotent: re-posting the same `(did, public_key_hex)` pair returns
        `200 OK` with `existing: true` instead of `409`.

        No auth required — the DID *is* the public key, so registration is
        a public bootstrap step (rate-limited).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityRegisterRequest"
      responses:
        "201":
          description: DID newly registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityRegisterResponse"
        "200":
          description: DID already registered with the same public key (idempotent)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityRegisterResponse"
        "400":
          description: |
            Validation error. Possible `code` values:
            * `MISSING_DID` — `did` field empty
            * `MISSING_PUBLIC_KEY` — `public_key_hex` empty
            * `INVALID_PUBLIC_KEY` — `public_key_hex` is not a valid SEC1
              uncompressed P-256 point
            * `DID_KEY_MISMATCH` — `did` does not match the canonical
              derivation from `public_key_hex`
            * `MALFORMED_BODY` — request body is not valid JSON
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: |
            DID is already registered with a *different* public key
            (`code: DID_ALREADY_REGISTERED`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: "Registry not configured (`code: REGISTRY_NOT_CONFIGURED`)"

  /identity/{did}:
    get:
      tags: [Identity]
      summary: Resolve all device keys registered for a did:key subject
      description: |
        Returns every `(public_key_hex, device_label, registered_at)` row stored
        for this subject DID (primary device from `POST /identity/register`,
        plus devices added via `POST /identity/devices`). Same response shape as
        `GET /identity/resolve/{did}`.
      security: []
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
          example: "did:key:z2dmzD81cgPx8Vki7JbuuMmFYrWPgYoytykUZ3eyqht1j9KbrL2g"
      responses:
        "200":
          description: Subject found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResolveResponse"
        "404":
          description: "DID has not been registered (`code: DID_NOT_REGISTERED`)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /identity/resolve/{did}:
    get:
      tags: [Identity]
      summary: Resolve all registered device public keys (WO-273)
      description: |
        Blueprint path for multi-device did:key resolution. Behavior matches
        `GET /identity/{did}`.
      security: []
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Subject found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResolveResponse"
        "404":
          description: DID not registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /identity/devices:
    post:
      tags: [Identity]
      summary: Register an additional device key (WO-273)
      description: |
        Adds a new P-256 device public key for an existing subject DID. The
        request body must be signed with ECDSA P-256 over SHA-256: the signer
        uses the private key for `signing_did`, which must already be a
        registered device for `subject_did`. Send the signature as lowercase hex
        in the `X-Identity-Signature` header (IEEE P1363 64-byte R||S or ASN.1
        DER).

        Constellation Identity Metagraph anchoring of device events is not yet
        wired; persistence is PostgreSQL (or in-memory registry) only.
      security: []
      parameters:
        - name: X-Identity-Signature
          in: header
          required: true
          description: Hex-encoded ECDSA signature over the raw JSON body bytes
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityAddDeviceRequest"
      responses:
        "200":
          description: Device added; returns updated device list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResolveResponse"
        "400":
          description: Validation error (missing fields, malformed signature hex, etc.)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Unknown signing device or invalid signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: subject_did not registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Device public key already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Registry not configured

  # ───── Legacy/Phase-0 DID anchor endpoints (retained for compatibility) ─────
  /identity/did:
    post:
      tags: [Identity]
      summary: (Legacy Phase-0) Create a chain-anchored DID
      description: |
        Deprecated. Phase 1 (ADR-0001) replaced chain-anchored DIDs with
        self-certifying did:key. New clients should use POST /identity/register.
        This endpoint is retained for backward compatibility with pre-Phase-1
        iOS builds and will be removed once WO-280 ships.
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [publicKey]
              properties:
                publicKey:
                  type: string
                  format: base64url
                  description: P-256 public key from Secure Enclave
      responses:
        "202":
          description: DID creation submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DIDDocument"

  /identity/did/{did}:
    get:
      tags: [Identity]
      summary: (Legacy Phase-0) Resolve a chain-anchored DID document
      description: Deprecated. Use GET /identity/{did} for did:key bindings.
      deprecated: true
      parameters:
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: DID document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DIDDocument"

  /identity/verify:
    post:
      tags: [Identity]
      summary: Initiate identity verification
      description: |
        Returns a URL/token for the third-party IDV provider (e.g., Stripe Identity).
        The iOS app connects directly to the IDV provider — the backend never sees
        raw documents or PII.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [verificationType]
              properties:
                verificationType:
                  type: string
                  enum: [email, phone, government_id, enterprise]
      responses:
        "200":
          description: Verification session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                  providerURL:
                    type: string
                    format: uri
                    description: IDV provider URL for direct client connection
                  expiresAt:
                    type: string
                    format: date-time

  /identity/verifications:
    get:
      tags: [Identity]
      summary: List verification status
      responses:
        "200":
          description: Verification records
          content:
            application/json:
              schema:
                type: object
                properties:
                  verifications:
                    type: array
                    items:
                      $ref: "#/components/schemas/Verification"

  /identity/credentials:
    get:
      tags: [Identity]
      summary: List verifiable credentials
      description: Returns credentials for the authenticated subject (WO-273). Requires issuer stack and same env as `cmd/credentials`.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Credential list
          content:
            application/json:
              schema:
                type: object
                properties:
                  credentials:
                    type: array
                    items:
                      $ref: "#/components/schemas/Credential"
        "503":
          description: Credential service not configured
    post:
      tags: [Identity]
      summary: Request a new credential
      description: |
        Issues a VC for the authenticated subject via `pkg/credentials` (WO-273).
        `subjectDid` defaults to the JWT `sub`; if set, it must equal `sub`.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [schemaId]
              properties:
                schemaId:
                  type: string
                  description: VC type / schema id (`ProofOfHumanity`, `KYCLite`, `HighAssurance`, `Professional`)
                credentialType:
                  type: string
                  description: Optional alias for schemaId
                subjectDid:
                  type: string
                  description: Optional; must match Bearer principal when set
                claims:
                  type: object
                  additionalProperties: true
                verificationClaims:
                  type: array
                  items:
                    type: object
                preferredFormat:
                  type: string
                  enum: [json-ld, jwt, sd-jwt]
                expirationYears:
                  type: integer
                  minimum: 1
      responses:
        "202":
          description: Credential issued (sync completion; 202 for OpenAPI contract)
        "400":
          $ref: "#/components/schemas/Error"
        "503":
          description: Credential service not configured (missing issuer keys, verifier DID, Identity L1 URL, or OIDC4VC base URLs when OIDC is enabled)

  /identity/credentials/status/{credentialId}:
    get:
      tags: [Identity]
      summary: StatusList2021 slot and revocation (WO-274)
      description: Reads durable issuer slot state from Postgres when the API is deployed with a database.
      parameters:
        - name: credentialId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Slot state
          content:
            application/json:
              schema:
                type: object
                properties:
                  credential_id:
                    type: string
                  found:
                    type: boolean
                  status_list_index:
                    type: integer
                  revoked:
                    type: boolean
        "503":
          description: Status store not configured (no Postgres)

  /passport/credentials:
    get:
      tags: [Passport]
      summary: List holder credential references
      description: |
        Returns metadata-only credential refs for the authenticated holder (WO-293).
        No VC body or PII — only issuer DID, type, hash, and revocation status.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Credential ref list
          content:
            application/json:
              schema:
                type: object
                properties:
                  credentials:
                    type: array
                    items:
                      $ref: "#/components/schemas/PassportCredentialRef"
                  count:
                    type: integer
        "503":
          description: Passport service not configured
    post:
      tags: [Passport]
      summary: Register a credential reference
      description: Registers holder-side metadata when a VC is added to the wallet.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PassportRegisterRefRequest"
      responses:
        "201":
          description: Credential ref created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PassportCredentialRef"
        "409":
          description: Duplicate credential hash for holder

  /passport/credentials/{refId}:
    get:
      tags: [Passport]
      summary: Get a credential reference
      security:
        - BearerAuth: []
      parameters:
        - name: refId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential ref
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PassportCredentialRef"
        "404":
          description: Not found

  /passport/present/begin:
    post:
      tags: [Passport]
      summary: Begin selective credential presentation
      description: Starts OIDC4VC presentation flow for a registered credential ref (WO-293/295).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [credential_ref_id]
              properties:
                credential_ref_id:
                  type: string
                redirect_uri:
                  type: string
                disclosure_fields:
                  type: array
                  items:
                    type: string
                  description: Optional SD-JWT claim subset the verifier may receive (WO-295)
      responses:
        "200":
          description: Presentation session started
        "409":
          description: Credential revoked

  /passport/present/accept:
    post:
      tags: [Passport]
      summary: Accept wallet presentation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id:
                  type: string
                vp_token:
                  type: string
                state:
                  type: string
                callback_url:
                  type: string
      responses:
        "200":
          description: Presentation verified

  /passport/sync:
    get:
      tags: [Passport]
      summary: Pull client-encrypted credential sync blob
      description: |
        Returns the latest client-encrypted wallet blob (T2). Server cannot decrypt (WO-294).
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Sync blob metadata and ciphertext
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PassportSyncBlob"
        "404":
          description: No sync blob for holder
    post:
      tags: [Passport]
      summary: Push client-encrypted credential sync blob
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ciphertext_base64]
              properties:
                ciphertext_base64:
                  type: string
                  description: AES-256-GCM ciphertext (client-side; PassportRootKey hierarchy)
                content_hash:
                  type: string
                  description: Optional SHA-256 hex of ciphertext for integrity check
      responses:
        "200":
          description: Sync metadata stored

  /passport/recovery/setup:
    post:
      tags: [Passport]
      summary: Register social-threshold recovery policy
      description: |
        Stores M-of-N policy and guardian share metadata after client-side Shamir split (WO-296).
        Never accepts share bytes or recovery secrets.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PassportRecoverySetupRequest"
      responses:
        "201":
          description: Recovery policy registered

  /passport/recovery/initiate:
    post:
      tags: [Passport]
      summary: Begin social recovery session
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Recovery session with active guardians to contact

  /passport/recovery/complete:
    post:
      tags: [Passport]
      summary: Complete recovery after client-side reconstruction
      description: Accepts root_key_commitment (SHA-256 hex) only — not the secret.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, root_key_commitment]
              properties:
                session_id:
                  type: string
                root_key_commitment:
                  type: string
                  description: hex(SHA-256(PassportRootKey)) attestation from new device
      responses:
        "200":
          description: Recovery session completed

  /passport/recovery/status:
    get:
      tags: [Passport]
      summary: Get recovery policy and shareholder metadata
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Policy and shareholders

  /identity/credentials/{credentialId}/verify:
    get:
      tags: [Identity]
      summary: Verify a credential
      parameters:
        - name: credentialId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Credential verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  issuerDID:
                    type: string
                  issuedAt:
                    type: string
                    format: date-time
                  revokedAt:
                    type: string
                    format: date-time
                    nullable: true

  /identity/trust-tier/commitment:
    post:
      tags: [Identity]
      summary: Anchor H(tier ‖ nonce) trust-tier commitment (WO-274)
      description: |
        Submits TrustTierCommitmentUpdate to Identity L1 and caches the result in Redis (~60s TTL)
        when Redis is configured. Requires Bearer token; subject_did must match the token principal.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tier, nonce]
              properties:
                subject_did:
                  type: string
                  description: Optional; defaults to the authenticated DID
                tier:
                  type: integer
                  minimum: 1
                  maximum: 5
                nonce:
                  type: string
      responses:
        "200":
          description: Commitment accepted by L1
          content:
            application/json:
              schema:
                type: object
                properties:
                  subject_did:
                    type: string
                  tier:
                    type: integer
                  commitment:
                    type: string
                    description: 64-char lowercase hex SHA-256 digest
                  anchored_at:
                    type: integer
                    format: int64
                    description: Unix time in milliseconds
        "502":
          description: L1 submit failed

  /identity/credentials/{credentialId}/revoke:
    delete:
      tags: [Identity]
      summary: Revoke a credential
      parameters:
        - name: credentialId
          in: path
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Revocation recorded

  # ──────────────────────── TOKENS ────────────────────────
  /tokens/balance:
    get:
      tags: [Tokens]
      summary: Get ECHO token balance
      description: Returns cached balance from metagraph Currency L1 state. Includes snapshot hash for client verification (Phase 3+).
      responses:
        "200":
          description: Token balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenBalance"

  /tokens/history:
    get:
      tags: [Tokens]
      summary: Transaction history
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
        - name: type
          in: query
          schema:
            type: string
            enum: [all, send, receive, reward, stake, unstake]
      responses:
        "200":
          description: Transaction list
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Transaction"
                  nextCursor:
                    type: string
                    nullable: true

  /tokens/send:
    post:
      tags: [Tokens]
      summary: Send ECHO tokens
      description: Submits a token transfer to the metagraph Currency L1.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recipientDID, amount]
              properties:
                recipientDID:
                  type: string
                amount:
                  type: string
                  description: Decimal string (e.g., "10.5")
                memo:
                  type: string
                  maxLength: 256
      responses:
        "202":
          description: Transfer submitted to Currency L1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"

  /tokens/stake:
    post:
      tags: [Tokens]
      summary: Stake ECHO tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, tier]
              properties:
                amount:
                  type: string
                  description: Decimal string
                tier:
                  type: string
                  enum: [bronze, silver, gold, platinum]
                  description: Lock duration tier (30/90/180/365 days)
      responses:
        "202":
          description: Stake submitted to Currency L1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StakePosition"

  /tokens/unstake:
    delete:
      tags: [Tokens]
      summary: Unstake ECHO tokens
      description: Initiates unstaking. Subject to lock duration per tier.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [stakeId]
              properties:
                stakeId:
                  type: string
      responses:
        "202":
          description: Unstake submitted

  /tokens/rewards/claim:
    post:
      tags: [Tokens]
      summary: Claim pending rewards
      description: |
        Claims pending rewards. Backend pre-validates against daily caps and
        anti-gaming rules, then batches into Currency L1 submission.
        
        **Rate limit**: Varies by reward type. Messaging rewards capped daily per trust tier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rewardType]
              properties:
                rewardType:
                  type: string
                  enum: [messaging, referral, staking, payment_rail, verification, governance, content, loyalty]
                evidence:
                  type: object
                  description: Type-specific evidence (e.g., message count, referral code)
      responses:
        "202":
          description: Reward claim batched for Currency L1 submission
          content:
            application/json:
              schema:
                type: object
                properties:
                  claimId:
                    type: string
                  amount:
                    type: string
                  status:
                    type: string
                    enum: [pending, batched, confirmed]
        "429":
          description: Daily cap exceeded

  /tokens/trust-score:
    get:
      tags: [Tokens]
      summary: Get trust score and tier
      description: Returns cached trust tier and multiplier. Raw score stays off-chain; on-chain commitment is H(score || nonce).
      responses:
        "200":
          description: Trust score info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrustScore"

  /tokens/achievements:
    get:
      tags: [Tokens]
      summary: List achievements and badges
      responses:
        "200":
          description: Achievement list
          content:
            application/json:
              schema:
                type: object
                properties:
                  achievements:
                    type: array
                    items:
                      $ref: "#/components/schemas/Achievement"

  # ──────────────────────── GROUPS ────────────────────────
  /groups/{groupId}/members:
    get:
      tags: [Groups]
      summary: List group members
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        "200":
          description: Member list
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/GroupMember"
                  totalCount:
                    type: integer
                  nextCursor:
                    type: string
                    nullable: true

    post:
      tags: [Groups]
      summary: Add members to group
      description: Admin only. Triggers group key rotation and re-distribution.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [memberDIDs]
              properties:
                memberDIDs:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Members added; group key rotated

  /groups/{groupId}/members/{did}:
    delete:
      tags: [Groups]
      summary: Remove a member from group
      description: Admin only. Triggers group key rotation.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: did
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Member removed; group key rotated

  /groups/{groupId}/key:
    post:
      tags: [Groups]
      summary: Distribute group encryption key
      description: |
        Encrypted group symmetric key distribution. Each member receives the
        group key encrypted with their individual public key. Called automatically
        on group creation, member add/remove, and periodic rotation.
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [encryptedKeys]
              properties:
                encryptedKeys:
                  type: array
                  items:
                    type: object
                    required: [recipientDID, encryptedKey]
                    properties:
                      recipientDID:
                        type: string
                      encryptedKey:
                        type: string
                        format: base64url
                        description: Group symmetric key encrypted with recipient's public key
                keyVersion:
                  type: integer
                  description: Monotonically increasing key version
      responses:
        "200":
          description: Keys distributed

  # ──────────────────────── COMPLY (WO-250–252) ────────────────────────
  # Base URL: COMPLY_API_BASE_URL (e.g. http://localhost:8011). Auth: portal service
  # token + mandatory X-Org-DID header. Zero-PII: aggregates and hash refs only.

  /comply/dashboard:
    get:
      tags: [Comply]
      summary: Compliance posture dashboard (WO-252 / WO-313)
      description: Zero-PII aggregate metrics scoped by X-Org-DID.
      security:
        - ComplyServiceAuth: []
      parameters:
        - $ref: "#/components/parameters/OrgDID"
      responses:
        "200":
          description: Dashboard summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplyDashboardSummary"

  /comply/audit/report:
    get:
      tags: [Comply]
      summary: Compliance audit report (JSON or PDF)
      security:
        - ComplyServiceAuth: []
      parameters:
        - $ref: "#/components/parameters/OrgDID"
        - name: format
          in: query
          schema:
            type: string
            enum: [json, pdf]
            default: json
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Audit report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplyAuditReport"
            application/pdf:
              schema:
                type: string
                format: binary

  /comply/retention/policy:
    get:
      tags: [Comply]
      summary: List retention policies
      security:
        - ComplyServiceAuth: []
      parameters:
        - $ref: "#/components/parameters/OrgDID"
      responses:
        "200":
          description: Policy list
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/ComplyRetentionPolicy"
    post:
      tags: [Comply]
      summary: Create retention policy
      security:
        - ComplyServiceAuth: []
      parameters:
        - $ref: "#/components/parameters/OrgDID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplyRetentionPolicyCreate"
      responses:
        "201":
          description: Created policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplyRetentionPolicy"

  /comply/litigation/hold:
    post:
      tags: [Comply]
      summary: Activate litigation hold (WO-251)
      security:
        - ComplyServiceAuth: []
      parameters:
        - $ref: "#/components/parameters/OrgDID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplyLitigationHoldRequest"
      responses:
        "201":
          description: Hold activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplyLitigationMatter"

  /comply/ediscovery/export:
    get:
      tags: [Comply]
      summary: List eDiscovery exports
      security:
        - ComplyServiceAuth: []
      parameters:
        - $ref: "#/components/parameters/OrgDID"
      responses:
        "200":
          description: Export jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  exports:
                    type: array
                    items:
                      $ref: "#/components/schemas/ComplyEDiscoveryExport"
    post:
      tags: [Comply]
      summary: Request eDiscovery export
      security:
        - ComplyServiceAuth: []
      parameters:
        - $ref: "#/components/parameters/OrgDID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplyEDiscoveryExportRequest"
      responses:
        "202":
          description: Export accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComplyEDiscoveryExport"

# ──────────────────────── COMPONENTS ────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Access token from /auth/verify
    ComplyServiceAuth:
      type: http
      scheme: bearer
      description: Portal service token (COMPLY_API_SERVICE_TOKEN) for server-side Comply calls

  parameters:
    OrgDID:
      name: X-Org-DID
      in: header
      required: true
      schema:
        type: string
      description: Organization DID tenant scope
    conversationId:
      name: conversationId
      in: path
      required: true
      schema:
        type: string

  schemas:
    DeviceInfo:
      type: object
      properties:
        platform:
          type: string
          enum: [iOS, Android]
        osVersion:
          type: string
        appVersion:
          type: string
        deviceModel:
          type: string

    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Access token TTL in seconds
        did:
          type: string
          description: User's DID
        sessionKey:
          type: string
          format: base64url
          description: Session encryption key (AES-256-GCM)

    Conversation:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          nullable: true
        isGroup:
          type: boolean
        participants:
          type: array
          items:
            type: object
            properties:
              did:
                type: string
              displayName:
                type: string
              trustTier:
                type: integer
        lastMessage:
          $ref: "#/components/schemas/EncryptedMessage"
        unreadCount:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    EncryptedMessage:
      type: object
      description: E2E encrypted message blob. Server cannot read content.
      properties:
        id:
          type: string
        conversationId:
          type: string
        senderDID:
          type: string
          description: Present in Phase 1-2; hidden with sealed sender in Phase 3+
        contentType:
          type: string
          enum: [text, image, video, audio, file, location, contact, sticker]
        encryptedPayload:
          type: object
          description: Kinnami encrypted payload (opaque to server)
          properties:
            version:
              type: integer
            ephemeralPublicKey:
              type: string
              format: base64url
            nonce:
              type: string
              format: base64url
            ciphertext:
              type: string
              format: base64url
            tag:
              type: string
              format: base64url
            commitment:
              type: string
              format: base64url
              description: H(H(plaintext) || nonce) for on-chain anchoring
        signature:
          type: string
          format: base64url
          description: Sender's P-256 signature over the encrypted payload
        timestamp:
          type: string
          format: date-time
        status:
          type: string
          enum: [sending, sent, delivered, read, failed, anchored]
          description: '"anchored" = commitment included in finalized metagraph snapshot'
        expiresAt:
          type: string
          format: date-time
          nullable: true
          description: Disappearing message expiry

    SendMessageRequest:
      type: object
      required: [contentType, encryptedPayload, signature]
      properties:
        contentType:
          type: string
          enum: [text, image, video, audio, file, location, contact, sticker]
        encryptedPayload:
          type: object
          required: [version, ephemeralPublicKey, nonce, ciphertext, tag, commitment]
          properties:
            version:
              type: integer
            ephemeralPublicKey:
              type: string
              format: base64url
            nonce:
              type: string
              format: base64url
            ciphertext:
              type: string
              format: base64url
            tag:
              type: string
              format: base64url
            commitment:
              type: string
              format: base64url
        signature:
          type: string
          format: base64url
        replyToId:
          type: string
          nullable: true
        expiresIn:
          type: integer
          nullable: true
          description: Disappearing message TTL in seconds

    MessageAccepted:
      type: object
      properties:
        messageId:
          type: string
        status:
          type: string
          enum: [relayed, queued]
          description: '"relayed" = recipient online; "queued" = recipient offline'
        timestamp:
          type: string
          format: date-time

    UserProfile:
      type: object
      properties:
        did:
          type: string
        displayName:
          type: string
        username:
          type: string
          nullable: true
        avatarURL:
          type: string
          format: uri
          nullable: true
        bio:
          type: string
          nullable: true
        trustTier:
          type: integer
          minimum: 1
          maximum: 5
        verificationBadges:
          type: array
          items:
            type: string
            enum: [email_verified, phone_verified, identity_verified, government_id, enterprise]
        isOnline:
          type: boolean
          nullable: true
          description: "null if privacy setting hides this"
        lastSeen:
          type: string
          format: date-time
          nullable: true
          description: "null if privacy setting hides this"

    Error:
      type: object
      description: |
        Canonical error envelope returned by all Phase-1 endpoints. The
        backend's WriteError helper guarantees this shape on any non-2xx
        response.
      required: [code, message]
      properties:
        code:
          type: string
          description: Machine-readable error code (e.g. `INVALID_PUBLIC_KEY`).
          example: "INVALID_PUBLIC_KEY"
        message:
          type: string
          description: Human-readable diagnostic; safe to surface to end users.
          example: "did_key_mismatch: supplied did does not match canonical derivation from public_key_hex"
        request_id:
          type: string
          description: Echo of the X-Request-ID header for log correlation.

    IdentityRegisterRequest:
      type: object
      required: [did, public_key_hex]
      properties:
        did:
          type: string
          description: W3C did:key identifier the client claims for this binding.
          example: "did:key:z2dmzD81cgPx8Vki7JbuuMmFYrWPgYoytykUZ3eyqht1j9KbrL2g"
        public_key_hex:
          type: string
          description: |
            SEC1 uncompressed P-256 public key (65 bytes, `04` prefix) as
            lowercase hex. Must derive to the supplied `did` via the W3C
            did:key method (multicodec `p256-pub` 0x1200, multibase
            base58btc); mismatches are rejected with 400 DID_KEY_MISMATCH.
          pattern: "^04[0-9a-f]{128}$"
          example: "04abcd…"

    IdentityRegisterResponse:
      type: object
      required: [did, public_key_hex, registered_at, existing]
      properties:
        did:
          type: string
          example: "did:key:z2dmzD81cgPx8Vki7JbuuMmFYrWPgYoytykUZ3eyqht1j9KbrL2g"
        public_key_hex:
          type: string
          pattern: "^04[0-9a-f]{128}$"
        registered_at:
          type: string
          format: date-time
          description: RFC3339 nano timestamp of the *first* time this DID was registered.
        existing:
          type: boolean
          description: |
            `true` when the (did, public_key_hex) pair was already present and
            the server returned 200. `false` on a fresh 201.

    DIDRegisterRequest:
      description: |
        WO-280 alias for [IdentityRegisterRequest](#/components/schemas/IdentityRegisterRequest).
        New documentation should prefer `IdentityRegisterRequest`.
      allOf:
        - $ref: "#/components/schemas/IdentityRegisterRequest"

    DIDRegisterResponse:
      description: |
        WO-280 alias for [IdentityRegisterResponse](#/components/schemas/IdentityRegisterResponse).
      allOf:
        - $ref: "#/components/schemas/IdentityRegisterResponse"

    IdentityDeviceRecord:
      type: object
      required: [public_key_hex, device_label, registered_at]
      properties:
        public_key_hex:
          type: string
          pattern: "^04[0-9a-f]{128}$"
        device_label:
          type: string
          example: "primary"
        registered_at:
          type: string
          format: date-time

    IdentityResolveResponse:
      type: object
      required: [did, devices]
      properties:
        did:
          type: string
        devices:
          type: array
          items:
            $ref: "#/components/schemas/IdentityDeviceRecord"

    IdentityAddDeviceRequest:
      type: object
      required: [subject_did, new_public_key_hex, signing_did]
      properties:
        subject_did:
          type: string
        new_public_key_hex:
          type: string
          pattern: "^04[0-9a-f]{128}$"
        device_label:
          type: string
          description: Optional label; defaults to `device` when omitted.
        signing_did:
          type: string
          description: |
            did:key of an already-registered device; the request body is
            signed with that device's private key.

    DIDDocument:
      type: object
      properties:
        did:
          type: string
          description: "W3C did:key identifier. Phase 1 — see ADR-0001."
          example: "did:key:z2dmzD81cgPx8Vki7JbuuMmFYrWPgYoytykUZ3eyqht1j9KbrL2g"
        publicKeys:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                enum: [EcdsaSecp256r1VerificationKey2019, X25519KeyAgreementKey2020]
              publicKeyBase64:
                type: string
                format: base64url
        serviceEndpoints:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              endpoint:
                type: string
                format: uri
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        l1TxHash:
          type: string
          description: Optional Identity Metagraph L1 anchor / transaction reference for verification

    Verification:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [email, phone, government_id, enterprise]
        status:
          type: string
          enum: [pending, verified, failed, expired]
        verifiedAt:
          type: string
          format: date-time
          nullable: true

    Credential:
      type: object
      properties:
        id:
          type: string
        schemaId:
          type: string
        issuerDID:
          type: string
        status:
          type: string
          enum: [active, revoked, expired]
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
        l1TxHash:
          type: string
          description: Optional Identity Metagraph L1 anchor reference for this credential

    TokenBalance:
      type: object
      properties:
        available:
          type: string
          description: Decimal string
        staked:
          type: string
        pendingRewards:
          type: string
        total:
          type: string
        snapshotHash:
          type: string
          description: Metagraph snapshot hash for client-side verification (Phase 3+)
        snapshotHeight:
          type: integer
        cachedAt:
          type: string
          format: date-time

    Transaction:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [send, receive, reward, stake, unstake]
        amount:
          type: string
        counterpartyDID:
          type: string
          nullable: true
        memo:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, confirmed, failed]
        timestamp:
          type: string
          format: date-time
        metagraphTxHash:
          type: string
          nullable: true

    StakePosition:
      type: object
      properties:
        id:
          type: string
        amount:
          type: string
        tier:
          type: string
          enum: [bronze, silver, gold, platinum]
        apy:
          type: string
          description: Current APY as percentage string
        stakedAt:
          type: string
          format: date-time
        unlocksAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, unstaking, completed]

    TrustScore:
      type: object
      properties:
        tier:
          type: integer
          minimum: 1
          maximum: 5
        tierName:
          type: string
          enum: [unverified, newcomer, member, verified, trusted]
        multiplier:
          type: string
          description: Reward multiplier (e.g., "1.5")
        onChainCommitment:
          type: string
          format: base64url
          description: H(score || nonce) recorded on metagraph Data L1

    Achievement:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
        earnedAt:
          type: string
          format: date-time
          nullable: true
        progress:
          type: number
          minimum: 0
          maximum: 1

    GroupMember:
      type: object
      properties:
        did:
          type: string
        displayName:
          type: string
        role:
          type: string
          enum: [owner, admin, member]
        joinedAt:
          type: string
          format: date-time

    ComplyDashboardSummary:
      type: object
      description: Zero-PII compliance posture aggregates (WO-252)
      properties:
        deCoverageRate:
          type: string
          example: "42%"
        activeRetentionPolicies:
          type: integer
        litigationHolds:
          type: integer
        pendingExports:
          type: integer
        anchorHealth:
          type: string
          enum: [healthy, degraded, down]

    ComplyAuditReport:
      type: object
      properties:
        orgDid:
          type: string
        generatedAt:
          type: string
          format: date-time
        activeRetentionPolicies:
          type: integer
        activeLitigationHolds:
          type: integer
        pendingExports:
          type: integer
        anchorHealth:
          type: string
        verificationNotice:
          type: string

    ComplyRetentionPolicy:
      type: object
      properties:
        id:
          type: string
        orgDid:
          type: string
        policyType:
          type: string
          enum: [permanent, time_limited, litigation_hold]
        conversationId:
          type: string
        scopeLabel:
          type: string
        active:
          type: boolean

    ComplyRetentionPolicyCreate:
      type: object
      required: [policy_type]
      properties:
        policy_type:
          type: string
          enum: [permanent, time_limited, litigation_hold]
        conversation_id:
          type: string
        scope_label:
          type: string

    ComplyLitigationHoldRequest:
      type: object
      required: [matterId, custodianDids]
      properties:
        matterId:
          type: string
        custodianDids:
          type: array
          items:
            type: string
        scope:
          type: string

    ComplyLitigationMatter:
      type: object
      properties:
        matterId:
          type: string
        orgDid:
          type: string
        scopeLabel:
          type: string
        status:
          type: string
          enum: [active, released]
        custodianCount:
          type: integer
        dataL1Ref:
          type: string

    ComplyEDiscoveryExport:
      type: object
      properties:
        exportId:
          type: string
        matterId:
          type: string
        status:
          type: string
          enum: [pending, processing, ready, delivered, failed]
        messageCount:
          type: integer
        queryHash:
          type: string
        dataL1Ref:
          type: string

    ComplyEDiscoveryExportRequest:
      type: object
      required: [matterId]
      properties:
        matterId:
          type: string
        custodianSet:
          type: array
          items:
            type: string
        dateFrom:
          type: string
          format: date-time
        dateTo:
          type: string
          format: date-time

    # ──── WebSocket Message Schemas ────
    WSIncomingMessage:
      type: object
      description: Messages received from WebSocket relay
      properties:
        type:
          type: string
          enum: [message, typing, presence, receipt, ack, confirmation, queue_drain]
        payload:
          type: object
          description: Type-specific payload
        timestamp:
          type: string
          format: date-time

    WSConfirmation:
      type: object
      description: On-chain anchoring confirmation pushed via WebSocket
      properties:
        type:
          type: string
          enum: [message_anchored, reward_confirmed, balance_updated]
        referenceId:
          type: string
          description: Message ID, claim ID, or transaction ID
        snapshotHash:
          type: string
        snapshotHeight:
          type: integer
        merkleProof:
          type: array
          items:
            type: string
            format: base64url
          description: Merkle proof for client-side verification (Phase 3+)

    PassportCredentialRef:
      type: object
      properties:
        ref_id:
          type: string
        holder_did:
          type: string
        issuer_did:
          type: string
        credential_type:
          type: string
        credential_hash:
          type: string
          description: hex(SHA-256) of canonical VC bytes
        status_list_index:
          type: integer
        status_list_credential:
          type: string
        revocation_status:
          type: string
          enum: [active, revoked, unknown]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PassportRegisterRefRequest:
      type: object
      required: [issuer_did, credential_type, credential_hash]
      properties:
        issuer_did:
          type: string
        credential_type:
          type: string
        credential_hash:
          type: string
        status_list_index:
          type: integer
        status_list_credential:
          type: string

    PassportSyncBlob:
      type: object
      properties:
        storage_uri:
          type: string
        content_hash:
          type: string
        byte_size:
          type: integer
        version:
          type: integer
        updated_at:
          type: string
          format: date-time
        ciphertext_base64:
          type: string
          description: Client-encrypted blob (T2); server cannot decrypt

    PassportRecoverySetupRequest:
      type: object
      required: [threshold_m, total_n, shareholders]
      properties:
        threshold_m:
          type: integer
          minimum: 2
        total_n:
          type: integer
          minimum: 2
        shareholders:
          type: array
          items:
            type: object
            required: [share_index, guardian_did, role]
            properties:
              share_index:
                type: integer
              guardian_did:
                type: string
              role:
                type: string
                enum: [device, contact, org]
              status:
                type: string
                enum: [pending, active, revoked]
              guardian_vc_id:
                type: string

# ──────────────── WebSocket Channels (documentation) ────────────────
# WebSocket endpoint: wss://ws.echo.network/v1/ws
# Auth: Bearer token in Authorization header or ?token= query param
#
# Channels (multiplexed over single connection):
#
# /messages    - E2E encrypted message relay (EncryptedMessage payloads)
#                On reconnect: server drains offline queue automatically
#
# /typing      - Typing indicators
#                Payload: { conversationId, isTyping }
#
# /presence    - Online/offline status updates
#                Payload: { did, status: online|away|offline, lastSeen }
#
# /receipts    - Read receipts and delivery confirmations
#                Payload: { messageId, conversationId, status, timestamp }
#
# /confirmations - On-chain anchoring confirmations (WSConfirmation)
#                  Pushed when metagraph snapshot includes user's data
#
# Heartbeat: Client sends ping every 30s; server responds with pong
# Reconnect: Exponential backoff (2^n seconds, max 5 attempts)
# Queue drain: On reconnect, server sends type=queue_drain with queued messages
